.panel__form__orint {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    
    font-family: var(--ffamily);
    font-size: var(--fsize);
    
    color: var(--theme4);
    /* display: none; */
}







.panel__form__orint__label {
    display: inline-block;
    position: relative;
    padding-left: calc(var(--fsize) * 5 / 4);
    cursor: pointer;
    font-size: calc(0.75 * var(--fsize));
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.panel__form__orint__label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.panel__form__orint__span {
position: absolute;
top: 0;
left: 0;
height: calc(1 * var(--fsize));
width: calc(1 * var(--fsize));
background-color: var(--theme1);
}

.panel__form__orint__label:hover input ~ .panel__form__orint__span {
background-color: var(--theme2);
}

.panel__form__orint__label input:checked ~ .panel__form__orint__span {
background-color: var(--theme1);
}

.panel__form__orint__span:after {
content: "";
position: absolute;
display: none;
}

.panel__form__orint__label input:checked ~ .panel__form__orint__span:after {
display: block;
}

.panel__form__orint__label .panel__form__orint__span:after {
left: calc(9 * var(--fsize) / 25);
top: calc(5 * var(--fsize) / 25);
width: calc(5 * var(--fsize) / 25);
height: calc(10 * var(--fsize) / 25);
border: solid var(--theme4);
border-width: 0 calc(3 * var(--fsize) / 25) calc(3 * var(--fsize) / 25) 0;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}










