:root {
    --theme0: #ffffff;
    --theme1: #b40078;
    --theme2: #9a0066;
    --theme3: #840057;
    --theme4: #000000;

    --margin: 2rem;
    --margin__half: 1rem;
    --fsize: 2rem;
    --ffamily: Cormorant-Light;
    --resizer__button__height: 7rem;
    --footer__hight: 1rem;
    --borders: 0.8rem;
  }
