.white__space {
    margin-top: var(--margin);
}

.panel {
    position: fixed;
    display: block;
    left: 57vw;
    background-color: var(--theme0);
    bottom: var(--margin);
    overflow-y: auto;
    top: 0;
    margin: 0;
    padding: 0;
    padding-left: var(--margin);
    right: 0;
    overflow-x: auto;
    z-index: 3;
    right: 0;
}

.panel::-webkit-scrollbar { 
    width: 0 !important;
    display: none; 
}


.panel fieldset {
    flex: 1;
    margin-right: var(--margin__half);
    display:  flex;
    flex-direction: column;
    border-color: var(--theme1);
    border-width: 0.8rem;
    border-style: outset;
    border-right-color: transparent;
    border-bottom-color: transparent;
    color: var(--theme4);
}









.panel__bar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: block;
    z-index: 3;
    padding: 0;
    margin: 0;
    color: var(--theme4);
    background-color:var(--theme1);
    font-size: 0;
    width: 100%;
}


.panel__bar ul {
    position: relative;
    margin: 0;
    padding: 0;
    background-color: var(--theme1);
    display: flex;
    /* width: 100%; */
    /* justify-content: space-between; */
    justify-content: left;
}



.panel__bar ul li {
    position: relative;
    display: inline;
    margin: 0;
    font-family: var(--ffamily);
    font-size: var(--fsize);
    padding: 0;
    background-color:transparent;
    
    white-space: nowrap;
    height: 100%;
    padding-left: calc(var(--fsize)/4);
    padding-right: calc(var(--fsize)/4);
}


.panel__bar ul li span {
    display: block;
    position: relative;
    border-width: 0;
    padding: 0;
    margin: 0;
    background-color:transparent;
    height: 100%;
    cursor: default;
    width: 100%;
}

.panel__bar ul li span:hover {
    background-color: var(--theme2);
}

.panel__bar ul li span:active {
    background-color: var(--theme3);
}

.panel__bar ul li span:hover + ul {
    display: block;
}







 
.panel__bar ul li ul {
    position:absolute;

    display: none;
    overflow-y: scroll;
    flex: 1;
    background-color:transparent;
    height: auto;
    
}

.panel__bar ul li ul::-webkit-scrollbar { 
    width: 0 !important;
    display: none; 
}







.panel__bar ul li ul optgroup {
    background-color: var(--theme1);
    cursor: default;

    position: relative;
    display: block;
    text-align: left;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.panel__bar ul li ul:hover {
    display: inline-block;
}



.panel ul li ul optgroup option {
    cursor: pointer;
    padding-left: calc(var(--fsize)/2);
    padding-right: calc(var(--fsize)/2);

    position: relative;
    display: block;
    text-align: left;
    background-color: var(--theme1);
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.panel ul li ul optgroup option:hover {
    background-color: var(--theme2);
}

.panel ul li ul optgroup option:active {
    background-color: var(--theme3);
}




.panel ul li ul option {
    cursor: pointer;
    /* padding-left: calc(var(--fsize)/2); */
    padding-right: calc(var(--fsize)/2);

    position: relative;
    display: block;
    text-align: left;
    background-color: var(--theme1);
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.panel ul li ul option:hover {
    background-color: var(--theme2);
}

.panel ul li ul option:active {
    background-color: var(--theme3);
}










.panel__form__meta {
    margin-top: var(--margin__half);
    display: none;
    background-color: transparent;
    color: var(--theme4);
    border-color: var(--theme1);
    border-bottom: 0;
    border-width: 0;
    resize: none;
}


.panel__form__meta::-webkit-scrollbar { 
    width: 0 !important;
    display: none; 
}

.panel__form__input {
    margin-top: var(--margin__half);
    display: none;
    background-color: transparent;
    color: var(--theme4);
    resize: vertical;
    border-color: var(--theme1);
    border-width: 0;
    outline-width: 0;
}


.panel__form__input::-webkit-scrollbar { 
    width: 0 !important;
    display: none; 
}





.panel__form__figure {
    display: none;
}


#panel__bar__run {
    cursor: pointer;
}

#panel__bar__run:hover {
    background-color: var(--theme2);
}

#panel__bar__run:active {
    background-color: var(--theme3);
}


#panel__bar__save {
    cursor: pointer;
}

#panel__bar__save:hover {
    background-color: var(--theme2);
}

#panel__bar__save:active {
    background-color: var(--theme3);
}



.panel form div {
    z-index: 2;
}
