@import "../variables.css";

.resizer {
    margin: 0;
    padding: 0;
    position:fixed;
    top: 0;
    bottom: var(--margin);
    width: var(--margin);
    display:  flex;
    z-index: 3;
    cursor: col-resize;
    background-color: var(--theme0);
}

.resizer:hover div {
    width: 100%;
    height: var(--resizer__button__height);
    align-self: center;
    cursor: col-resize;
    background-color: transparent;
}

.resizer:hover div .on {
    display: block;
    width: 40%;
}

.resizer:hover div .off {
    display: none;
    width: 40%;
}

.resizer:hover div div {
    display: block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    background-color: var(--theme1);
}

.on {
    background-image: url("../../images/arrow__left__theme4.svg");
}

.off{
    background-image: url("../../images/arrow__right__theme4.svg");
}

.resizer div div:hover {
    background-color: var(--theme2);
}

.resizer div div:active {
    background-color: var(--theme3);
}


.resizer_l {
    left: 30vw;
}

.resizer_r {
    left: 60vw;
    z-index: 4;
}