<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="utf-8" />
        <title>NanoTools</title>
        <meta name="description" content="description"/>
        <meta name="keywords" content="keywords"/>
        <meta name="author" content="Rabarbar Batman"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" type="text/css" href="{% static 'patterns/variables.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'patterns/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'patterns/resizer.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'patterns/footer.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'patterns/structure.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'patterns/properties.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'patterns/panel.css' %}">
    </head>
    <body>
        <div id="structure__scope" class="structure">
            <fieldset id="structure__fieldset">
                <legend>
                    <ul>
                        <li>Structure (</li>
                        <li>
                            <span id="structure__unit" contenteditable spellcheck="false"></span>                          
                            <ul contenteditable="false">
                                <li onclick="set__structure__unit('A')">&#8491;</li>
                                <li onclick="set__structure__unit('nm')">nm</li>
                                <li onclick="set__structure__unit('um')">&#956;m</li>
                            </ul>
                        </li>
                        <li>):</li>
                    </ul>
                </legend>
                <textarea id="structure" spellcheck="false"></textarea>
            </fieldset>
        </div>
        <div id="resizer_l" class="resizer resizer_l" onselectStart="return false">
            <div style="display: block;">
                <div id="resizer_l__button__on" class="on"></div>
                <div id="resizer_l__button__off" class="off"></div>
            </div>
        </div>
        <div id="properties__scope" class="properties">
            <fieldset>
                <legend>Properties (nm):</legend>
                <textarea >
                    soon
                </textarea>
            </fieldset>
        </div>
        <div id="resizer_r" class="resizer resizer_r">
            
        </div>
        <div id="panel__scope" class="panel">

            <form action=""  method="POST">{% csrf_token %}
                <div style="margin-left: 50px; margin-right: 50px">
                    {% if code %}
                        <textarea type="text" class="form-control" id="codearea" name="codearea" rows="10" onkeydown="if(event.keyCode==9){var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+'\t'+v.substring(e);this.selectionStart=this.selectionEnd=s+1;return false;}">{{ code }}</textarea>
                    {% else %}
                        {% with code="x = [3,4,6];y = [3,4,5];plt.xlabel('s')" %}
                            <textarea type="text" class="form-control" id="codearea" name="codearea" rows="10" onkeydown="if(event.keyCode==9){var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+'\t'+v.substring(e);this.selectionStart=this.selectionEnd=s+1;return false;}">{{ code }}</textarea>
                        {% endwith %}
                    {% endif %}
                 </div>
                <div style="margin-left: 50px; margin-right: 50px;">
                    <textarea type="text" class="form-control" id="output" name="output" rows="4" disabled>{{ output }}</textarea>
                </div>
                <button type="submit" class="btn btn-primary" style="margin-left: 50px;">Submit</button>
            </form>
            <img src="data:image/png;base64, {{plot}}" >
        </div>

        <footer><code id="footer"></code></footer>
        <script type="text/javascript" src="{% static 'scripts/names.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/startapp.js' %}"></script>  
        <script type="text/javascript" src="{% static 'scripts/structure.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/resizers.js' %}"></script>
        <script>footer.textContent = "Loaded!";</script>
    </body>
</html>