<!DOCTYPE html>
<html>
    {% load static %}
    <head>
        <meta charset="utf-8" />
        <title>NanoTools</title>
        <meta name="description" content="description"/>
        <meta name="keywords" content="keywords"/>
        <meta name="author" content="Rabarbar Batman"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    </head>
        
    <body>
        <p id="a" onclick="fun()">abc</p>
        <script>
            function fun() {
                document.getElementById("a").textContent = new Date();
            }
        </script>
        <script src="{% static 'scripts/processing.js' %}"></script>
        <script src="{% static 'scripts/structure.js' %}"></script>
    </body>
</html>