
@font-face {
    font-family: Italiana-Regular;
    src: url(Italiana-Regular.ttf);
}

@font-face {
    font-family: RampartOne-Regular;
    src: url(RampartOne-Regular.ttf);
}

@font-face {
    font-family: AnticDidone-Regular;
    src: url(AnticDidone-Regular.ttf);
}

@font-face {
    font-family: Cormorant-Regular;
    src: url(Cormorant-Regular.ttf);
}
