@font-face {
    font-family: AnticDidone-Regular;
    src: url(../fonts/Antic_Didone/AnticDidone-Regular.ttf);
}

@font-face {
    font-family: Cormorant-Regular;
    src: url(../fonts/Cormorant/Cormorant-Regular.ttf);
}

@font-face {
    font-family: Cormorant-Light;
    font-size: 2rem;
    src: url(../fonts/Cormorant/Cormorant-Light.ttf);
}

@font-face {
    font-family: Cormorant-Medium;
    src: url(../fonts/Cormorant/Cormorant-Medium.ttf);
}

@font-face {
    font-family: Forum-Regular;
    src: url(../fonts/Forum/Forum-Regular.ttf);
}

@font-face {
    font-family: Italiana-Regular;
    src: url(../fonts/Italiana/Italiana-Regular.ttf)
}

@font-face {
    font-family: OldStandardTT-Regular;
    src: url(../fonts/Old_Standard_TT/OldStandardTT-Regular.ttf);
}

@font-face {
    font-family: NanumMyeongjo-Regular;
    src: url(../fonts/Nanum_Myeongjo/NanumMyeongjo-Regular.ttf);
}

@font-face {
    font-family: CormorantInfant-Light;
    src: url(../fonts/Cormorant_Infant/CormorantInfant-Light.ttf);
}

@font-face {
    font-family: Lato-Light;
    src: url(../fonts/Lato/Lato-Light.ttf);
}

@font-face {
    font-family: GildaDisplay-Regular;
    src: url(../fonts/Gilda_Display/GildaDisplay-Regular.ttf);
}

@font-face {
    font-family: Spectral-Light;
    src: url(../fonts/Spectral/Spectral-Light.ttf);
}

@font-face {
    font-family: Spectral-ExtraLight;
    src: url(../fonts/Spectral/Spectral-ExtraLight.ttf);
}