.panel {
    position: fixed;
    display: block;
    left: 60vw;
    background-color: crimson;
    bottom: var(--margin);
    overflow-y: auto;
    top: 0;
    margin: 0;
    padding: 0;
    padding-left: var(--margin);
    right: 0;
    /* overflow-x: hidden; */
    overflow-x: auto;
}

.panel::-webkit-scrollbar { 
    width: 0 !important;
    display: none; 
}
