@import "fonts.css";

.structure {
    position: fixed;
    top: 0;
    bottom: 1rem;
    width: 30vw;
    display:  flex;
    flex-direction: column;
    }

.structure fieldset {
    flex: 1;
    margin: 1rem;
    margin-bottom: 0;
    display:  flex;
    flex-direction: column;
    min-width: auto;
    border-color: rgb(180, 0, 240);
    border-width: 0.4rem;
    border-style: outset;
    border-right-color: transparent;
    border-bottom-color: transparent;
}

.structure fieldset textarea {
    position:relative;
    resize: none;
    border-width: 0;
    flex: 1;
}
  
/*to hide scrollbar*/
.structure fieldset textarea::-webkit-scrollbar { 
    width: 0 !important;
    display: none; 
  }

.structure fieldset legend {
    font-size: 0;
    background-color: rgb(180, 0, 240);
    z-index: 1;
}

.structure fieldset legend paragraph {
    display: inline;
    margin: 0;
    font-family: Cormorant-Light;
    font-size: 2rem;
    padding: 0;
}

.structure fieldset legend paragraph:hover {
    cursor: default;
}

.structure fieldset legend ul {
    display: inline;
    margin: 0;
    padding: 0;
}

.structure fieldset legend ul input {
    border-width: 0;
    padding: 0;
    margin: 0;
    background-color: blue;
    width: 1rem;
    display: inline-block;
}