@import "fonts.css";
@import "variables.css";

/* [contenteditable] {
outline: 0px solid transparent;
} */

.structure {
    position: fixed;
    top: 0;
    bottom: var(--margin);
    width: 30vw;
    margin: 0;
    display:  flex;
    flex-direction: column;
    background-color: tomato;
    padding-top: var(--margin);
    padding-right: 0;
}

.structure fieldset {
    flex: 1;
    margin-left: 1rem;
    display:  flex;
    flex-direction: column;
    border-color: var(--theme1);
    border-width: 0.4rem;
    border-style: outset;
    border-right-color: transparent;
    border-bottom-color: transparent;
    background-color: blue;
}

.structure fieldset textarea {
    position:relative;
    resize: none;
    border-width: 0;
    flex: 1;
}

.structure fieldset textarea::-webkit-scrollbar { 
    width: 0 !important;
    display: none; 
}



.structure fieldset legend {
    font-size: 0;
    background-color: var(--theme1);
    z-index: 1;
}

.structure fieldset legend ul {
    margin: 0;
    padding: 0;
}
.structure fieldset legend ul li {
    display: inline-block;
    margin: 0;
    font-family: var(--ffamily);
    font-size: var(--fsize);
    padding: 0;
}

.structure fieldset legend ul li:hover {
    cursor: default;
}

.structure fieldset legend ul li span {
    display: inline-block;
    border-width: 0;
    padding: 0;
    margin: 0;
    font-family: var(--ffamily);
    font-size: var(--fsize);
    background-color: transparent;
    max-width: 8rem;
    max-height: 2.4rem;
    vertical-align: top;
    text-align: center;
    overflow: hidden;
}

.structure fieldset legend ul li ul {
    display: none;
}

.structure fieldset legend ul li span:hover {
    background-color: var(--theme2);
}

.structure fieldset legend ul li span:hover + ul{
    display: block;
}

.structure fieldset legend ul li ul {
    position: absolute;
    display: none;
}

.structure fieldset legend ul li ul:hover {
    display: block;
}

.structure fieldset legend ul li ul li {
    display: block;
    text-align: center;
    background-color: var(--theme1);
}

.structure fieldset legend ul li ul li:hover {
    background-color: var(--theme2);
    cursor: pointer;
}

.structure fieldset legend ul li ul li:active {
    background-color: var(--theme3);
    cursor: pointer;
}


