:root {
  --theme0: #ffffff;
  --theme1: #b40078;
  --theme2: #9a0066;
  --theme3: #840057;
  --theme4: #9b8383;

  --margin: 2rem;
  --margin__half: 1rem;
  --fsize: 2rem;
  --ffamily: Spectral-ExtraLight;
  --resizer__button__height: 7rem;
  --footer__hight: 1rem;
  --borders: 0.8rem;
}
